<div id="page-wrapper">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Listado de tarjetas:</h1>
      </div>
  </div>

  <div class="row">
    <div class="col-xs-12">

        <div class=" col-lg-6" *ngFor="let card of cards">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>ID: {{card._id}}</b> 
                </div>
                <div class="box">
                  <img src="{{card.imageURL}}" alt="{{altImageURL}}">
                  <p><b>Pista:</b> {{card.clue}}</p>
                  <p><b>Tiempo de resolución:</b> {{card.time}}s</p>
                  <p><b>Solución:</b> {{card.solution}}</p>
                  <p><b>Letras del teclado:</b> {{card.letters}}</p>
                  <p><b>Publicar:</b> {{card.publish}}</p>
              </div> 
        </div>

    </div>
  </div>
</div>