<div id="page-wrapper">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Listado de tarjetas:</h1>
      </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
            <b>ID:</b> 
        </div>
        <div class="box">
          <img src="{{imageURL}}" alt="">
          <p><b>Pista:</b> </p>
          <p><b>Tiempo de resolución:</b> s</p>
          <p><b>Solución:</b> </p>
          <p><b>Letras del teclado:</b> </p>
          <p><b>Publicar:</b> </p>
      </div>     
    </div>
  </div>
</div>