<div id="page-wrapper">
  <!--<div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Listado de tarjetas:</h1>
      </div>
  </div>-->

<div class="row">
  <div class="panel-body">
    <div class="col-lg-4 box">
      <div class="alert alert-success" (click)="redirectToNewCard()">
        <h3>Crear una nueva tarjeta</h3>
        <br>
        <span class="glyphicon glyphicon-plus"></span>
        <br>
        <br>
      </div>
    </div>
    <div class="col-lg-4 box">
      <div class="alert alert-info" (click)="redirectToListCards()">
        <h3>Consultar las tarjetas del juego</h3>
        <br>
        <span class="glyphicon glyphicon-search"></span>
        <br>
        <br>
      </div>
    </div>
    <div class="col-lg-4 box">
      <div class="alert alert-danger" (click)="redirectToDeleteById()">
        <h3>Eliminar una tarjeta</h3>
        <br>
        <span class="glyphicon glyphicon-trash"></span>
        <br>
        <br>
      </div>
    </div>
    
    
    
  </div>
</div>